* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    width: 100%;
    font-family: sans-serif;
    max-width: 360px;
    margin: auto;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 10px;
    width: 100%;
}

h1 {
    padding: 10px 0 24px 0;
}

.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 360px;
    height: 36px;
    justify-content: space-evenly;
}

.button{
    width: 20%;
}

#digitar-tarefas {
    width: 70;
}

.checkbox{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.task {
    display: flex;
    padding: 10px 0;
}

.descTask{
    max-width: 340px;
    word-break: break-word;
    padding: 5px;
}


.erro {
    font-weight: bold;
    color: red;
    display: none;
}

:checked + label{
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 3px;
}